.name {
  padding: 10px;
  font-size: 25px;
  color: white;
  background: black;
  width: fit-content;
  margin: 10px;
  font-weight: 500;
}

.price {
  font-size: 20px;
  font-weight: 500;
  margin: 10px;
}

.offer {
  font-size: 15px;
  font-weight: 500;
  color: red;
  margin: 10px;
}

.add {
  margin: 10px;
}

.add-button {
  color: white;
  background: blue;
  border: none;
  border-radius: 8px;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
}